/*======GLOBAL STYLES======*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #e5e5e5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px 2px rgba(0,1,1,0.2);
  -moz-box-shadow: 0 10px 20px 2px rgba(0,1,1,0.2);
  -ms-box-shadow: 0 10px 20px 2px rgba(0,1,1,0.2);
  box-shadow: 0 10px 20px 2px rgba(0,1,1,0.2);
}

/*======HEADER======*/

.main-header {
  position: relative;
}

.main-navigation {
  z-index:1;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  z-index:3;
  top: 0;
  left: 50%;
  margin: 0 0 0 -70px;
  width: 138px;
  height: 70px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display:inline-block;
  padding: 15px 73px;
  text-align: center;
}

.main-navigation li:nth-child(3n) {
  padding: 0 90px 0 316px;
}

.main-navigation li:last-child {
  padding-right: 66px;
}

.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.main-navigation .active a {
  color: #766357;
}

/*======MAIN======*/

/*======Promo block======*/

.promo-image {
  height: 509px;
  background-color: #ffffff;
}

.promo-text {
  padding: 60px 290px 37px;
  text-align: center;
  background-color: #ffffff;
}

.promo-text-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.promo-text-reasons {
  padding: 26px 0 14px;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/*======Reasons and features block======*/

.reason-photo-top {
  background-color: #81b3d2;
}

.reason-photo-top .reason-photo-name {
  display: block;
  max-width: 130px;
  margin: 0 auto;
}

.reason-photo-text-left {
  float: left;
  width: 300px;
  padding: 50px 50px 43px;
  text-align: center;
  color: #ffffff;
}

.reason-photo-image-right {
  float: right;
  width: 800px;
  height: 256px;
  background-color: #81b3d2;
}

.reason-photo-text-right {
  float: right;
  padding: 50px 40px 43px;
  width: 320px;
  text-align: center;
  color: #ffffff;
}

.reason-photo-bottom {
  background-color: #81b3d2;
}

.reason-photo-image-left {
  float: left;
  width: 800px;
  height: 256px;
  background-color: #81b3d2;
}

.reason-photo-name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reason-photo-number,
.reason-photo-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason-photo-number {
  padding: 20px 0 10px;
  margin: 0;
}

.reason-features-white {
  background-color: #ffffff;
}

.reason-feature {
  float: left;
  text-align: center;
}

.reason-features-gray {
  background-color: #eeeeee;
}

.gray {
  width: 280px;
  padding: 49px 60px 58px;
}

.white {
  width: 300px;
  padding: 160px 50px 85px;
}

.image {
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.home-image {
  background-image: url("../img/home-logo.png");
  background-color: #ffffff;
}

.food-image {
  background-image: url("../img/food-logo.png");
  background-color: #ffffff;
}

.souvenirs-image {
  background-image: url("../img/gift-logo.png");
  background-color: #ffffff;
}

.reason-feature-name {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reason-feature-text,
.hotel-booking-info {
  padding: 22px 0 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/*======Hotel booking block======*/

.hotel-booking {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.hotel-booking-headline {
  padding: 57px 0 10px;
  margin: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.hotel-booking-button {
  padding: 30px 110px;
  margin: 50px 0 0;
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  border-style: none;
}

.find-hotel-form {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -284px;
  width: 454px;
  padding: 57px 57px 54px;
  z-index: 4;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.find-hotel-date-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}

.find-hotel-date-parameter input {
  width: 319px;
  height: 22px;
  margin-left: auto;
  margin-right: 0;
  padding: 5px 11px;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.find-hotel-date-parameter input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.find-hotel-date-parameter input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.find-hotel-date-group button {
  position: absolute;
  top: 50%;
  right: 9px;
  margin-top: -10.5px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  background-color: #f2f2f2;
}

.find-hotel-date-group .icon-calendar {
  background-image: url("../img/calendar-icon-gray.png");
  background-color: #f2f2f2;
}

.find-hotel-date-group .icon-calendar:hover {
  background-image: url("../img/calendar-icon-black.png");
  background-color: #f2f2f2;
}

.find-hotel-date-group .icon-calendar:active {
  background-image: url("../img/calendar-icon-blue.png");
  background-color: #f2f2f2;
}

.find-hotel-guest-parameter input {
  width: 39px;
  height: 26px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.find-hotel-guest-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.find-hotel-guest-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.find-hotel-guest-group button {
  position: relative;
  height: 38px;
  width: 37px;
  font-size: 0;
  background-color: #f2f2f2;;
  border: none;
}

.find-hotel-guest-group button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.find-hotel-guest-group:first-child label {
  margin-right: 39px;
}

.find-hotel-guest-group:last-child label {
  margin-right: 26px;
}

.find-hotel-guest-group .icon-plus:before {
  margin-top: -5.5px;
  margin-left: -5.5px;
  width: 11px;
  height: 11px;
  background-image: url("../img/plus-icon-gray.png");
  background-color: #f2f2f2;
}

.find-hotel-guest-group .icon-plus:hover:before {
  background-image: url("../img/plus-icon-black.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.find-hotel-guest-group .icon-plus:active:before {
  background-image: url("../img/plus-icon-blue.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.find-hotel-guest-group .icon-minus:before {
  margin-top: -1.5px;
  margin-left: -6px;
  width: 12px;
  height: 3px;
  background-image: url("../img/minus-icon-gray.png");
  background-color: #f2f2f2;
}

.find-hotel-guest-group .icon-minus:hover:before {
  background-image: url("../img/minus-icon-black.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.find-hotel-guest-group .icon-minus:active:before {
  background-image: url("../img/minus-icon-blue.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.find-hotel-button {
  padding: 17px 100px;
  margin: 55px 0 0;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border-style: none;
  word-wrap: break-word;
}

.find-hotel-button:hover {
  background-color: #669ec1;
}

.find-hotel-button:active {
  color: #86b1ce;
  background-color: #5596be;
}

/*======FOOTER======*/

.main-footer {
  width: 1200px;
  color: #000000;
  background-color: rgba(255,255,255,0.9)
}

.map {
  padding: 475px 0 0;
  background-image: url("../img/map.png");
  background-color: #f2f2f2;
}

.footer-tag {
  float: left;
  width: 400px;
  padding: 47px 0;
  text-align: center;
}

.footer-tag-text {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  float: left;
  width: 400px;
  padding: 37px 0;
  font-size: 0;
  text-align: center;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  min-height: 46px;
  margin: 0 5px 5px 0;
  color: #ffffff;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn:hover {
  background-color: #669ec1;
}

.social-btn:active {
  background-color: #5596be;
}

.social-btn-twitter {
  background-image: url("../img/twitter-logo.png");
  background-color: #81b3d2;
}

.social-btn-fb {
  background-image: url("../img/facebook-logo.png");
  background-color: #81b3d2;
}

.social-btn-youtube {
  background-image: url("../img/youtube-logo.png");
  background-color: #81b3d2;
}

.social-btn-twitter:active {
  background-image: url("../img/twitter-logo-darkblue.png");
  background-color: #5596be;
}

.social-btn-fb:active {
  background-image: url("../img/facebook-logo-darkblue.png");
  background-color: #5596be;
}

.social-btn-youtube:active {
  background-image: url("../img/youtube-logo-darkblue.png");
  background-color: #5596be;
}

.footer-copyright {
  float: right;
  width: 400px;
  text-align: center;
}

.copyright {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright-text {
  padding: 47px 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.footer-copyright-logo {
  width: 113px;
  height: 40px;
  font-size: 0;
  background-image: url("../img/developer-logo-black.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
}

.footer-copyright-logo:hover {
  background-image: url("../img/developer-logo-blue.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
}

.footer-copyright-logo:active {
  background-image: url("../img/developer-logo-gray.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
}

/*======CATALOG-CSS======*/

/*======Infrastructure and hotel type block======*/

.hotel-choose {
  min-height: 200px;
  z-index: 2;
  padding-bottom: 18px;
  background-image: url("../img/catalog-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81b3d2;
}

.hotel-choose-infrastructure {
  float: left;
  width: 142px;
  padding: 25px 86px 0 72px;
}

.hotel-choose-infrastructure label:last-child,
.hotel-choose-renttype label:last-child {
  margin-bottom: 0;
}

.hotel-choose-infrastructure input {
  display: none;
}

.hotel-choose span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 41px;
}

.hotel-choose-infrastructure span:before {
  content: ''; 
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/checkbox-empty.png") center center no-repeat;
}

.hotel-choose-infrastructure span:before {
  background-color: transparent;
}

.hotel-choose-infrastructure input:checked + span:before {
  content: '';
  width: 26px;
  height: 22px;
  background: url("../img/checkbox-checked.png") center center no-repeat;
}

.hotel-choose-infrastructure input:disabled + span:before,
.hotel-choose-renttype input:disabled + span:before {
  content: '';
  width: 22px;
  height: 22px;
  background: url("../img/checkbox-empty-disabled.png") center center no-repeat;
}

.hotel-choose-infrastructure input:checked:disabled + span:before,
.hotel-choose-renttype input:checked:disabled + span:before
 {
  content: '';
  width: 26px;
  height: 22px;
  background: url("../img/checkbox-checked-disabled.png") center center no-repeat;
}

.hotel-choose-infrastructure input:disabled + span,
.hotel-choose-infrastructure input:checked:disabled + span,
.hotel-choose-renttype input:disabled + span,
.hotel-choose-renttype input:checked:disabled + span {
  color: #6a6a6a;
}

.hotel-choose-renttype {
  float: left;
  width: 140px;
  padding: 25px 135px 0 25px;
}

.hotel-choose-renttype input {
  display: none;
}

.hotel-choose-renttype span:before {
  content: ''; 
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/checkbox-empty.png") center center no-repeat;
}

.hotel-choose-renttype input:checked + span:before {
  content: '';
  width: 26px;
  height: 22px;
  background: url("../img/checkbox-checked.png") center center no-repeat;
}

.hotel-choose-renttype input:disabled + span:before {
  content: '';
  width: 26px;
  height: 22px;
  background: url("../img/checkbox-checked-disabled.png") center center no-repeat;
}

.hotel-choose-renttype input:disabled + span:before {
  content: '';
  width: 22px;
  height: 22px;
  background: url("../img/checkbox-empty-disabled.png") center center no-repeat;
}

.hotel-choose-headline {
  padding: 0 0 26px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.hotel-choose-text {
  display: block;
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.hotel-choose-text input {
  margin-right: 28px;
}

/*======Slider======*/

.hotel-price-slider {
  float: right;
  width: 390px;
  margin: 0 0 0 210px;
}

.hotel-price-slider-headline {
  margin: 25px 0 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.range-filter {
  width: 318px;
}

.range-controls {
  position: relative;
  height: 53px;
  width: 100%;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 20px;
  height: 2px;
  background-color: #948482;
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background-color: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.range-controls .toggle:hover {
   background-color: #1c4f80;
}

.range-controls .max-toggle {
  left: 252px;
}

.price-controls input {
  width: 157px;
  padding: 8px 0;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  text-align: center;
}

.price-controls .max-price {
  margin: 0 0 0 -5px;
  border-left: none;
}

.price-controls .min-price {
  border-right: none;
}

.price-controls:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -1px;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.price-controls  {
  position: relative;
}

.hotel-price-slider-button {
  word-wrap: break-word;
  width: 137px;
  padding: 8px 15px;
  margin: 0 0 0 85px;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-decoration: none;
}

.hotel-price-slider-button:hover {
  background-color: #ffffff;
  color: #000000;
}

/*======Sorting block======*/

.sort,
.hotel-item {
  width: 1200px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.sort-results {
  float: left;
  width: 162px;
  margin: 30px 0 30px 73px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-ation {
  position: relative;
  float: left;
  width: 963px;
  margin: 35px 0;
}

.sort-filter {
  float: left;
  width: 500px;
  font-size: 0;
}

.sort-options,
.sort-price,
.sort-type,
.sort-rating {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-options {
  margin: 0 38px 0 0;
  color: #000000;
  border-bottom: none;
}

.sort-price,
.sort-type {
  margin: 0 30px 0 0;
}

.sort-price.active {
  border-bottom: none;
  color: #81b3d2;
}

.sort-type:hover,
.sort-rating:hover {
  color: #81b3d2;
}

.sort-type:active,
.sort-rating:active {
  color: #000000;
  border-bottom: none;
}
.sort-buttons {
  float: right;
  margin-right: 72px;
  width: 200px;
  font-size: 0;
  text-align: right;
}

.sort-up-button,
.sort-down-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  background-repeat: no-repeat;
}

.sort-up-button:before,
.sort-down-button:before {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
}

.sort-up-button:before  {
  right: 22px;
  background-image: url("../img/sort-up-gray.png");
  background-color: #ffffff;
}

.sort-down-button.active:before {
  right: 0;
  background-image: url("../img/sort-down-blue.png");
  background-color: #ffffff;
}

.sort-up-button:hover:before {
  background-image: url("../img/sort-up-black.png");
  background-color: #ffffff;
}

.sort-up-button:active:before {
  background-image: url("../img/sort-up-blue.png");
  background-color: #ffffff;
}

/*======Hotels and apartments info block======*/

.hotel-item-photo {
  float: left;
  width: 135px;
  margin: 28px 30px 28px 73px;
  background-color: #ffffff;
}

.hotel-item-description {
  float: left;
  margin: 24px 0;
  width: 565px;
}

.hotel-item-name {
  padding: 0 0 5px;
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-item-name:hover {
  color: #81b3d2;
}

.hotel-item-name:active {
  color: rgba(0,0,0,0.3);
}

.hotel-item-info {
  padding: 5px 24px 19px 0;
  margin: 0;
  font-size: 14px;
  color: #333333;
}

.hotel-item-type {
  float: left;
  width: 115px;
}

.more-button {
  float: left;
}

.hotel-item-price,
.book-button {
  float: left;
}

.hotel-item-price {
  margin: 0 60px 0 0;
}

.hotel-item-button {
  max-width: 110px;
  word-wrap: break-word;
  padding: 5px 16px;
  margin: 0 7px 0 0;
  color: #ffffff;
  text-decoration: none;
}

.more-button {
  background-color: #81b3d2;
}

.more-button:hover {
  background-color: #669ec1;
}

.more-button:active {
  color: rgba(255,255,255,0.3);
  background-color: #5596be;
}

.book-button {
  background-color: #766357;
}

.book-button:hover {
  background-color: #604e44;
}

.book-button:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e34;
}

.hotel-item-rating {
  position: relative;
  float: right;
  width: 240px;
  margin-right: 72px;
  padding: 28px 0;
}

.hotel-item-rating-total {
  margin: 45px 0 0 auto;
  padding: 7px 0;
  width: 110px;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.hotel-item-rating-4stars,
.hotel-item-rating-3stars,
.hotel-item-rating-2stars {
  width: 110px;
  height: 17px;
  margin: 0 0 0 auto;
  font-size: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center right;
}

.hotel-item-rating-4stars {
  background-image: url("../img/four-stars.png");
  background-color: #ffffff;
}

.hotel-item-rating-3stars {
  background-image: url("../img/three-stars.png");
  background-color: #ffffff;
}

.hotel-item-rating-2stars {
  background-image: url("../img/two-stars.png");
  background-color: #ffffff;
}