body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
} /*распорка*/

.container {
	width: 1200px;
	margin: 0 auto;
	/*padding: 0 40px;*/
	box-shadow: 0 10px 20px 2px rgba(0,1,1,0.2);
} /*контейнер центровщик*/

.main-header {
  position: relative;
}

.main-navigation {
	z-index:1;
	width: 1200px;
	color: #000000;
	background-color: #ffffff;
} /*плашка основной навигации в хедере*/

.header-logo {
	position: absolute;
	z-index:3;
	top: 0;
	left: 50%;
	margin: 0 0 0 -70px;
	width: 138px;
	height: 70px;
} /*логотип в хедере*/

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
} /*список с пунктами основной навигации*/

.main-navigation li {
	padding: 15px 73px;
} /*пункты основной навигации*/

.main-navigation a {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
} /*текст + ссылки пунктов основной навигации*/

.main-navigation-item-info,
.main-navigation-item-photovideo {
	float: left;
} /*первы два пункта основной навигации*/

.main-navigation-item-map,
.main-navigation-item-hotels {
	float: right;
} /*вторые два пункта основной навигации*/

.promo-image {
	height: 509px;
} /*изображение с надписью Welcome to Sedona*/

.promo-text {
	padding: 60px 290px 37px;
	text-align: center;
	background-color: #ffffff;
} /*Блок текста под изображением (см. правило выше)*/

.promo-text-slogan {
	font-size: 21px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
} /*Текст: Седона - небольшой городок в Аризоне...*/

.promo-text-reasons {
	padding: 26px 0 14px;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
} /*Текст: Рассмотрим 5 причин...*/

.reason-photo-text-left {
	float: left;
	width: 300px;
	padding: 50px 50px 43px;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
} /*Блок текста расположенного на верхней голубой плашке*/

.reason-photo-image-right {
	float: right;
	width: 800px;
	height: 256px;
} /*Изображение рядом с текстом "Настоящий городок..."*/

.reason-photo-text-right {
	float: right;
	padding: 50px 40px 43px;
	width: 320px;  
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;	
} /*Блок текста расположенного на нижней голубой плашке*/

.reason-photo-image-left {
	float: left;
	width: 800px;
	height: 256px;
} /*Изображение рядом с текстом "Там есть мост дьявола..."*/

.reason-photo-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
} /*Текст: Настоящий городок... Там есть мост...*/

.reason-photo-number,
.reason-photo-description {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
} /*Правило для текста: №1 Седона не аттракцион... №2 Да, по нему можно пройтись*/

.reason-photo-number {
	padding: 20px 0 10px;
	margin: 0;
} /*Дополнительное правило для текста: №1 №2*/

.reason-feature {
	float: left;
	text-align: center;
} /*Правила для блоков: Жилье-Еда-Сувениры + Небольшая площадь-Красивая дорога-Мало туристов*/

.gray {
  width: 280px;
  padding: 49px 60px 58px;
	background-color: #eeeeee;
} /* Доп. правила для блоков: Небольшая площадь-Красивая дорога-Мало туристов*/

.white {
  width: 300px;
  padding: 160px 50px 85px;
	background-color: #ffffff;
} /*Доп. правила для блоков: Жилье-Еда-Сувениры*/

.image {
	background-repeat: no-repeat;
  background-position: 50% 24%;
} /*Правила для изображений блоков: Жилье-Еда-Сувениры*/

.home-image {
  background-image: url(../img/home-logo.png);
} /*Изображение блока Жилье*/

.food-image {
  background-image: url(../img/food-logo.png);
} /*Изображение блока Еда*/

.souvenirs-image {
  background-image: url(../img/gift-logo.png);
} /*Изображение блока Сувениры*/

.reason-feature-name {
	display: block;
  max-width: 150px;
  margin: 0 auto;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
} /*Заголовки блоков: Жилье-Еда-Сувениры + Небольшая площадь-Красивая дорога-Мало туристов*/

.reason-feature-text,
.hotel-booking-info {
	padding: 22px 0 0;
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
} /*Текст блоков: Жилье-Еда-Сувениры + Небольшая площадь-Красивая дорога-Мало туристов ++ текст: Укажите предполагаемые даты*/

.hotel-booking {
	position: relative;
	text-align: center;
	background-color: #ffffff;
} /*Блок поиска гостиницы: текст + кнопка*/

.hotel-booking-headline {
	padding: 57px 0 10px;
	margin: 0;
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
} /*Заголовок блока поиска гостиницы. Текст: Заинтересовались?*/

.hotel-booking-button {
	padding: 30px 110px;
	margin: 50px 0 0;
	width: 568px;
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans";
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
	border-style: none;
} /*Кнопка блока поиска гостиницы*/

.find-hotel-form {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -284px;
	width: 454px;
	padding: 57px;
	z-index: 4;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans";
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.find-hotel-date-parameter input {
	width: 345px;
	padding: 5px 0;
	margin: 0 0 30px;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans";
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
	background-color: #f2f2f2;
  border: none;
}

.find-hotel-date-parameter label {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: left;
}

.icon-calendar {
	position: absolute;
  background-image: url(../img/calendar-icon.png);
  width: 21px;
  height: 21px;
  top: 6px;
  left: 410px;
}

.find-hotel-guest-parameter input {
	width: 114px;
	padding: 5px 0;
	margin: 5px 0 0 10px;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans";
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
}

.icon-plus-adults,
.icon-plus-children {
	position: absolute;
	background-image: url(../img/plus-icon.png);
	width: 11px;
  height: 11px;
  top: 205px;
  left: 245px;
}

.icon-plus-children {
  left: 485px;
}

.icon-minus-adults,
.icon-minus-children {
	position: absolute;
	background-image: url(../img/minus-icon.png);
	width: 12px;
  height: 3px;
  top: 210px;
  left: 155px;
}

.icon-minus-children {	
  left: 400px;
}

.find-hotel-guest-parameter-left {
	margin-right: 75px;
}

.find-hotel-button {
  padding: 20px 197px;
	margin: 55px 0 0;
  width: 100%;
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans";
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	background-color: #81b3d2;
	border-style: none;
}

.main-footer {
  width: 1200px;
	color: #000000;
} /*Основоное правило для футера*/

.map {
	padding: 475px 0 0;
	background-image: url(../img/map.png);
} /*Карта в футере*/

.footer-tag {
	float: left;
	width: 400px;
	padding: 47px 0;
	text-align: center;
  background-color: rgba(255,255,255,0.9);
} /*Блок футера, содержащий тег*/

.footer-tag-text {
	margin: 0;
  font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;	
} /*Текст: #VisitSedona*/

.footer-social {
	float: left;
	width: 400px;
	padding: 36px 0;
	text-align: center;
  background-color: rgba(255,255,255,0.9);
} /*Блок футера, содержащий кнопки соц.сетей*/

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	min-height: 48px;
	color: #ffffff;
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: 50% 50%;
} /*Правило для кнопок соц.сетей*/

.social-btn-twitter {
	background-image: url(../img/twitter-logo.png);
}

.social-btn-fb {
	background-image: url(../img/facebook-logo.png);
}

.social-btn-youtube {
	background-image: url(../img/youtube-logo.png);
}

.footer-copyright {
	float: right;
	width: 400px;
	text-align: center;
  background-color: rgba(255,255,255,0.9);
} /*Блок футера, содержащий лого разработчика*/

.copyright {
	display: inline-block;
	vertical-align: middle;
} /*Доп. правило для блога с логотипом разработчика*/

.footer-copyright-text {
	padding: 47px 0;
  margin: 0;
  font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
} /*Текст: website by*/

.footer-copyright-logo {
	width: 113px;
	height: 40px;
    padding: 40px 0;
} /*Лого разработчика*/

/*CATALOG-CSS*/

.hotel-choose {
  height: 218px;
  z-index: 2;
  background-image: url(../img/catalog-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} /*Блок с параметрами выбора гостиницы*/

.hotel-choose-infrastructure {
  float: left;
  width: 142px;
  padding: 25px 86px 22px 72px;
} /*Выбор параметров инфраструктуры*/

.hotel-choose-renttype {
  float: left;
  width: 140px;
  padding: 25px 135px 22px 25px;
} /*Выбор типа жилья*/

.hotel-choose-headline {
  padding: 0 0 15px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
} /*Текст: Инфраструктура + Тип жилья + Стоимость в сутки*/

.hotel-choose-text {
  display: block;
  margin: 11px 0 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
} /*Пункты списков: Инфраструктура + Тип жилья*/

.hotel-price-slider {
  float: right;
  width: 390px;
  margin: 0 0 0 210px;
} /*Обертка для слайдера с заголовком и кнопкой*/

.hotel-price-slider-headline {
  margin: 25px 0 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
} /*Загоовок слайдера*/

/*ПОЛЗУНОК*/

.range-filter {
  width: 318px;
}

.range-controls {
  position: relative;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 16px;
  height: 2px;
  background-color: #948482;
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background-color: #ffffff;
}

.range-controls .toggle {
	position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  border: 8px solid #ffffff;
  background-color: #1c4f80;
  cursor: pointer;
  border-radius: 50%;
}

.range-controls .max-toggle {
  left: 252px;
}

.price-controls input {
  width: 157px;
  padding: 10px 0;
  font-size: 14px;
	font-family: "PT Sans";
	text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  text-align: center;
}

input.max-price {
	margin: 0 0 0 -5px;
	border-left: none;
}

input.min-price {
	border-right: none;
}

.price-controls:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -1px;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.price-controls  {
  position: relative;
  /*margin-bottom: 10px;*/
}

.hotel-price-slider-button {
  width: 137px;
  padding: 7px 15px;
  margin: 0 0 0 85px;
  font-size: 14px;
	font-family: "PT Sans";
	text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-decoration: none;
} /*Кнопка слайдера*/

.hotel-price-slider-button:hover,
.hotel-price-slider-button:active {
  background-color: #ffffff;
  color: #000000;
} /*Кнопка слайдера при наведении*/

.sort,
.hotel-item {
	width: 1200px;
	background-color: #ffffff;
} /*Плашки для блоков сортировки и информации об отелях*/

.sort-results {
	float: left;
	width: 162px;
	margin: 30px 0 30px 73px;
	font-size: 21px;
  line-height: 26px;
  font-weight: 700;
} /*Блок с текстом "Найдено"*/

.sort-ation {
	float: left;
	width: 963px;
	margin: 35px 0;
} /*Блок с текстом "Сортировка" и кнопками-стрелками*/

.sort-filter {
	float: left;
} /*Кнопки: по цене-по типу-по рейтингу */

.sort-buttons {
	float: right;
} /*Кнопки-стрелки*/

.hotel-item-photo {
	float: left;
	width: 166px;
	margin: 29px 0 29px 73px;
} /*Изображение отеля*/

.hotel-item-description {
	float: left;
	margin: 24px 0;
} /*Полное описание отеля*/

.hotel-item-name {
	padding: 0 0 5px;
	margin: 0;
	font-size: 21px;
	font-weight: 700;
	color: #000000;
} /*Название отеля*/

.hotel-item-info {
	padding: 5px 24px 19px 0;
	margin: 0;
	font-size: 14px;
	color: #333333;
} /*Цена и тип отеля*/

.hotel-item-type,
.more-button {
	float: left;
}

.hotel-item-price,
.book-button {
	float: right;
}

.hotel-item-price {
	margin: 0 60px 0 0;
}

.hotel-item-button {
	padding: 5px 15px;
	margin: 0 10px 0 0;
	color: #ffffff;
	text-decoration: none;
} /*Кнопки Подробнее-Забронировать*/

.more-button {
  background-color: #81b3d2;
} /*Кнопка Подробнее*/

.book-button {
  background-color: #766357;
} /*Кнопка Забронировать*/

.hotel-item-rating {
  position: relative;
}

.hotel-item-rating-total {
	position: absolute;
	top: 90px;
	right: 70px;
	float: right;
	width: 110px;
	margin: 0;
	padding: 5px;
	font-size: 14px;
	font-family: "PT Sans";
	text-transform: uppercase;
	color: #666666;
	background-color: #f2f2f2;
} /*Рейтинг отеля*/


