body {
	min-width: 1280px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

.main-navigation {
	z-index:2;
	width: 1200px;
	min-height: 56px;
	color: #000000;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	z-index:3;
	right: 584px;
	left: 584px;
	width: 138px;
	height: 70px;
} /*logo in main navigation*/

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation a {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.main-navigation-item-info {
	float: left;
	padding: 22px 74px 0px 71px;
} /*information button in main navigation*/

.main-navigation-item-photovideo {
	float: left;
	padding: 22px 69px 0px 73px;
} /*photogallery button in main navigation*/

.main-navigation-item-map {
	float: right;
	padding: 22px 74px 0px 76px;
} /*statemap button in main navigation*/

.main-navigation-item-hotels {
	float: right;
	padding: 22px 73px 0px 88px;
} /*hotels button in ain navigation*/

.promo-image {
	z-index:1;
} /*big image in the top of main and under the navigation*/

.promo-text {
	padding: 65px 0 57px;
	text-align: center;
	background-color: #ffffff;
} /*text block under the big image mentioned above*/

.promo-text-slogan {
	font-size: 21px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
} /*text: Седона &ndash; небольшой городок в Аризоне*/

.promo-text-reasons {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
} /*text:Расмотрим 5 причин, по которым*/

.reason-photo-text-left {
	float: left;
	width: 308px;
	min-height: 166px;
	padding: 50px 46px 40px;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
} /*text of top blue colored block*/

.reason-photo-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
} /*text: Настоящий городок*/

.reason-photo-number,
.reason-photo-description {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
} /*text: -№1-Седона &ndash; не аттракцион для... + -№2-Да, по нему можно пройти...*/

.reason-photo-image-right {
	float: right;
	width: 800px;
	height: 256px;
} /*image near the text block mentioned above*/

.reason-feature {
	float: left;
	width: 400px;
	min-height: 191px;
	text-align: center;
}

.gray {
	padding: 49px 0 63px;
	background-color: #eeeeee;
}

.white {
	padding: 57px 0 86px;
	background-color: #ffffff;
}

.reason-photo-text-right {
	float: right;
	padding: 49px 48px 41px;
	width: 304px; 
	min-height: 166px; 
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;	
} /*text of bottom blue colored block*/

.reason-photo-image-left {
	float: left;
	width: 800px;
	height: 256px;
} /*image near the text block mentioned above*/

.reason-feature-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
} /*text for headers of reccomendations and features. Example: Жилье Еда Небольшая площадь*/

.reason-feature-text,
.hotel-booking-info {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
} /*text of reccomendations and features. Example: Рекомендуем пожить в настоящем мотеле or -№3- or Большинство едет в Гранд&ndash;Каньон or Укажите предполагаемые даты */

.hotel-booking {
	min-height: 292px;
	text-align: center;
	background-color: #ffffff;
} /*block include text: Заинтересовались? and button of the hotel search*/

.hotel-booking-headline {
	padding: 57px 0 36px;
	margin: 0;
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
} /*text: Заинтересовались?*/

.hotel-booking-button {
	padding: 35px 140px 33px;
	margin: 50px 0 0;
	width: 568px;
	min-height: 86px;
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans";
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
} /*button of the hotel search*/

.main-footer {
	width: 1200px;
	min-height: 121px;
	padding: 36px 0 0;
	color: #000000;
	background-color: #ffffff;
}

.footer-tag {
	float: left;
	width: 400px;
	min-height: 120px;
	text-align: center;
} /*include 1 block mentioned below*/

.footer-tag-text {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;	
} /*text: #visitsedona*/

.footer-social {
	float: left;
	width: 400px;
	min-height: 120px;
	text-align: center;
} /*include block class=social-btn mentioned below*/

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	min-height: 48px;
	color: #ffffff;
	background-color: #81b3d2;
} /*include 2 blocks mentioned below*/

.footer-copyright {
	float: right;
	width: 400px;
	min-height: 120px;
	text-align: center;
} /*include block class=copyright mentioned below*/

.copyright {
	display: inline-block;
	vertical-align: middle;
} /*include 2 blocks mentioned below*/

.footer-copyright-text {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
} /*text: website by*/

.footer-copyright-logo {
	width: 113px;
	height: 39px;
} /*image of developers logo*/

.hotel-item-name {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.main-navigation-link{
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
